---
import '../style/LibraryClass.css';
---

<html>
  <body class="flex items-center justify-center h-screen bg-black text-white">
    <div class="text-center">
      <h1 class="h1 font-bold mb-4">404</h1>
      <p>Halaman tidak ditemukan</p>
      <a href="/" class="underline mt-4 inline-block">Kembali ke Home</a>
    </div>
  </body>
</html>
