@import "tailwindcss";

/* ================================
   BASE
================================ */
body {
  @apply bg-white text-gray-800 antialiased;
  @apply text-xs leading-relaxed;
}

/* ================================
   MOBILE (DEFAULT)
================================ */

h1 { @apply text-xl font-semibold leading-tight; }
h2 { @apply text-lg font-semibold; }
h3 { @apply text-base font-medium; }
h4 { @apply text-sm font-medium; }
h5 { @apply text-sm font-medium; }
h6 { @apply text-xs font-medium uppercase tracking-wide; }

p { @apply text-xs text-gray-700 leading-relaxed; }
small { @apply text-xs text-gray-500; }
span { @apply text-xs; }

a {
  @apply underline-offset-4 transition;
}


/* ================================
   SM ≥ 640px
================================ */
@media (min-width: 640px) {

  body { @apply text-sm; }

  h1 { @apply text-2xl; }
  h2 { @apply text-xl; }
  h3 { @apply text-lg; }
  h4 { @apply text-base; }
  h5 { @apply text-sm; }
    span { @apply text-xs; }
  p { @apply text-xs; }

}

/* ================================
   MD ≥ 768px
================================ */
@media (min-width: 768px) {

  h1 { @apply text-3xl; }
  h2 { @apply text-2xl; }
  h3 { @apply text-xl; }
  p { @apply text-sm; }
    span { @apply text-sm; }

}

/* ================================
   LG ≥ 1024px
================================ */
@media (min-width: 1024px) {

  h1 { @apply text-4xl; }
  h2 { @apply text-3xl; }

}
