<div class="relative h-screen w-full z-[1]">
    <div class="fixed h-[100vh] w-full text-white bg-gradient-to-b from-green-400 to-green-950 flex flex-col text-center justify-center items-center gap-4 px-4">
        <h2 id="SpanUpHomeText" class="absolute top-[-2%]">Paket Promo</h2>
        <h1 id="HeadText" class="font-[TanGrandeur] z-10 w-full max-w-[60%] leading-[1.65] tracking-[0.04em] text-4xl md:text-6xl font-bold drop-shadow-lg absolute top-[30%] transition-all duration-500">
            Celebrating Excellence, Inspiring the Future.
        </h1>
        <p id="SubText" class="italic w-full max-w-[50%] text-lg md:text-xl drop-shadow-md absolute top-[54%] transition-all duration-500">
            A platform dedicated to showcasing outstanding achievements, remarkable milestones, and the stories behind every success.        
        </p>
        
    </div>
    
</div>

<div id="pageTwo" class="z-[20] rounded-t-[10%] relative bg-white shadow-lg h-[100vh] flex flex-col justify-center gap-6 px-4">
ss
</div>





<style>
    html {
        scroll-behavior: smooth;
    }
   #HeadText, #SubText {
    transition: top 0.1s linear;
    
}
#pageTwo {
    will-change: border-radius;
}

</style>
<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
    window.addEventListener('scroll', () => {
    const SpanUpHomeText = document.getElementById('SpanUpHomeText');
    const HeadText = document.getElementById('HeadText');
    const SubText = document.getElementById('SubText');
    // 
    if (!SpanUpHomeText || !HeadText || !SubText || !pageTwo) return;

    const scrollY = window.scrollY;

    // atur sensitivitas gerakan
    const headMove = scrollY * 0.03;
    const subMove = scrollY * 0.02;

    // posisi dasar (biar ga mulai dari 0)
    SpanUpHomeText.style.top = -5 + headMove * 1 + '%';
    HeadText.style.top = 30 + headMove + '%';
    SubText.style.top = 54 + subMove + '%';
    
});

const maxRadius = 50;
let currentRadius = maxRadius;
let targetRadius = maxRadius;

window.addEventListener('scroll', () => {
    const scrollY = window.scrollY;

    targetRadius = Math.max(maxRadius - scrollY * 0.1, 0);
});

function animate() {
    // easing smooth
    currentRadius += (targetRadius - currentRadius) * 0.1;

    pageTwo.style.borderRadius =
        `${currentRadius}% ${currentRadius}% 0% 0%`;

    requestAnimationFrame(animate);
}

animate();

});
</script>