<div class="py-[5vh] flex flex-col gap-5">
    <div class="shadow-lg outline outline-[0.4px] outline-gray-300 rounded w-full min-h-[4vh] p-5 flex justify-between items-center">
        <div class="">
            <a href="#">FunikIn</a>
        </div>
        <div class="flex gap-10 text-xs items-center">
            <a href="#">Home
            <a href="#">News</a>
            <a href="#">Article</a>
            <div class="">
                <button class="outline p-2 rounded px-4">Login</button>
            </div>
        </div>
    </div>
    <div class="w-full h-fit flex justify-center items-center">
        <div class="flex w-fit">
        <input type="text" class="outline outline-gray-400  p-2 rounded shadow-lg min-w-[40%] max-w-[60vh]">

        </div>
    </div>
</div>
